<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Webchat</title>
</head>

<body>
    <header>
        <div>
            <img src="./blank-profile.png" alt="Usuário" />
            <span><%= user %> em <%= room %></span>
        </div>
    </header>
    <section>
        <div class="user">
            <p>Conteudo</p>
        </div>
        <div class="other">
            <p>Conteudo</p>
        </div>
        <div class="user">
            <p>Conteudo</p>
        </div>
        <div class="other">
            <p>Conteudo</p>
        </div>
        <div class="user">
            <p>Conteudo</p>
        </div>
    </section>
    <footer>
        <input type="text" name="message" />
        <button type="submit">
            <img src="./send.png" alt="Enviar" />
        </button>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="chat.js"></script>

</html>