* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #e6e6e6;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #99bbff;
    padding: 1.5rem;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

header div span {
    color: #f2f2f2;
}

section {
    height: 100%;
    padding: 1.5rem;
}

.user {
    background-color: #6699ff;
    padding: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    max-width: 35vw;
}

.user p,
.user span {
    color: #f2f2f2;
    font-size: 0.9rem;
}

.user p+span {
    font-size: 0.6rem;
    float: right;
}

.other {
    background-color: #f2f2f2;
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    max-width: 35vw;
    margin: 0rem 1rem 0.5rem auto;
}

.other p,
.other span {
    color: #404040;
    font-size: 0.9rem;
}

.other p+span {
    font-size: 0.6rem;
    float: right;
}

footer {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #99bbff;
    padding: 1.5rem;
}

footer input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 1rem;
    height: 2rem;
    width: 100vw;
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

footer button {
    padding: 0;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    padding-top: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
}

footer button img {
    width: 1.5rem;
    height: 1.5rem;
}